@import url('http://fonts.cdnfonts.com/css/circular-std-book');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Circular Std Book', sans-serif;
}
body{
    background: #11998e; 
    background: -webkit-linear-gradient(to bottom, #38ef7d, #11998e); 
    background: linear-gradient(to bottom, #38ef7d, #11998e); 

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.container{
    width: 300px;
    height: 450px;
    background-color: rgba(28, 28, 28, 0.5);
    border-radius: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.container img{
    margin-top: 20px;
    width: 250px;
    height: 250px;
    border-radius: 10px;
}
.container h1{
    padding: 5px;
    font-size: 25px;
}
.container h2{
    font-size: 15px;
    color: #C0C0C0;
}
.container .line{
    margin-top: 20px;
    border-radius: 2px;
    width: 280px;
    height: 3px;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.line span{
    position: absolute;
    text-align: start;
    width: 0px;
    height: 3px;
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    animation: play 180s infinite;
}
.line .circle{
    position: relative;
    
    left:0px;
    width: 10px;
    height:10px;
    border-radius: 50%;
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    animation: playCircle 180s infinite;
}
@keyframes play {
    0%{
        width: 0px; 
    }
    25%{
        width: 93px; 
    }
    50%{
        width: 186px; 
    }
    100%{
        
        width: 280px; 
        
    }
}
@keyframes playCircle {
    0%{
        left: 0px; 
    }
    25%{
        left: 93px; 
    }
    50%{
        left: 186px; 
    }
    100%{
        left: 280px;  
    }
}

.player{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player i{
    padding: 10px;
    transition: 900ms;
}
.player i:hover{
    color: #38ef7d;
    cursor: pointer;
    transition: 900ms; 
    
}
.player .play{
    font-size: 40px;
    display: none;
}
.player .pause{
    font-size: 40px;
    
}
.player .voltar,
 .avancar{
    font-size: 30px;
    
}